.image-gallery-all-product {
    display: flex;
    position: relative;
    width: fit-content;
  }
  
  .main-image-all-product{
    width: 15vw;
  }
  
  
  .buttons_all_product_inventory {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }

  .buttons_all_product_inventory button {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

.cont_genric_items{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}


.cont_all_items{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: -webkit-fill-available;

}


.cont_items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3vw;
    margin-left: 5vw;
}



.cont_all_product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1vh 2vw;
    margin-top: 5vh;
    background-color: white;
}



@media screen and (max-width: 768px) {

  .cont_all_product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    padding: unset;
    margin-top: 5vh;
    background-color: white;
  }

  
  .cont_items{
    
    margin-left: unset;
  }

  .main-image-all-product{
    width: 100%;
  }

  .image-all-product-seller{
    border-radius: 10px 10px 0 0;
  }

  .color_item{
    display: none;
    
  }

    
  
  
}