

.cont_feature_car{
    padding: 2vh 3vw;
}


.check_feature_car{
    margin-left: 2vw;
    margin-top: 1vh;
    
}


.cont_all_feature_car{
    background-color: #6495ed7d;
    border-radius: 10px;
}

.wrap_feature_car{
    margin-top: 2vh;
}

