#all_code_section{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5vh 5vw;
    border-radius: 10px;
}

#cont_img_code_section{
    width: 55%;
}

#button_get_found{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1vh 5vw;
    border-radius: 5px;
}


@media screen and (max-width: 768px){

    #all_code_section{
        flex-direction: column;
    }

    #cont_img_code_section{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #button_get_found{
        display: flex;
        flex-direction: row;
        background-color: black;
        color: white;
        padding: 1vh 10vw;
        width: 70vw;
        margin-top: 2vh;
    }
    


    
    
}